<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Document</title>
</head>
<body>
  <div class="container--1">
    <div class="container--2">
        <img src="/images/Logo_der_Hochschule_Flensburg.png" alt="Logo Hochschule">
        <h1 class="el--2">Willkommen</h1>
        <h1 class="el--3">Datum</h1>
    </div>

    <h1 class="el--4"></h1>

    <div class="container--3">
      <div class="container--4">
        <h1 class="el--5">Infos zur Veranstaltung</h1>
        <h1 class="el--6">Bild</h1>
        <h1 class="el--7">Infos zur Veranstaltung</h1>
        <h1 class="el--8">Bild</h1>
        <h1 class="el--9">Infos zur Veranstaltung</h1>
        <h1 class="el--10">Bild</h1>
      </div>
      <div class="container--5">
        <h1 class="el--6">Event 1</h1>
        <h1 class="el--7">Event 2</h1>
        <h1 class="el--8">Event 3</h1>
        <h1 class="el--9">Social Media Post etc.</h1>
      </div>
    </div>
  </div>
</body>
</html>